﻿@using HelloWorldApp.Models;
@model List<UsersModel>

<h1>Users</h1>
<div id="content">
    <a href='@Url.Action("UserRecord", "Home")' class="btn btn-primary">Add New User</a>
    <br />
    <table class="table table-sm responsive-table">
        <thead>
            <tr>
                <th scope="col">Action</th>
                <th scope="col">ID</th>
                <th scope="col">UserName</th>
                <th scope="col">FirstName</th>
                <th scope="col">LastName</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td data-label="Action">
                        <a href='@Url.Action("UserEditRecord", "Home", new {ID=user.ID})' class="btn btn-success">Edit</a>
                        @Html.ActionLink("Delete","UserDeleteRecord", "Home", new { id = user.ID },new { @class = "btn btn-danger", onclick = "return confirm('Are you sure to delete?');" })
                    </td>
                    <td data-label="ID">@user.ID</td>
                    <td data-label="UserName">@user.UserName</td>
                    <td data-label="FirstName">@user.FirstName</td>
                    <td data-label="LastName">@user.LastName</td>
                </tr>
            }
            @if (!Model.Any())
            {
                <tr>
                    <td colspan="4">There is no users!</td>
                </tr>
            }
        </tbody>
    </table>
</div>