﻿@using HelloWorldApp.Models;
@model UsersModel
<h2>Edit Record</h2>
@using (Html.BeginForm("UserEditRecord", "Home"))
{
    <div class="form-group">
        <label for="userName">User Name</label>
        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.UserName)
    </div>
    <div class="form-group">
        <label for="firstName">First Name</label>
        @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label for="lastName">Last Name</label>
        @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <a href='@Url.Action("index", "Home")' class="btn btn-primary">Cancel</a>
}